.bhi{
    background-color: rgb(245, 131, 150);
}
.jiu{
    background-color: rgb(250, 228, 232);
}
.jik{
    height: 40px;
    width: 120px;
    justify-content: center;
}
.ko{
    height: 40px;
}
.ji{
    text-decoration: none;
    color: black;
    
}
.abi{
    height: 120px;
    width: 100px;
    border-radius: 50%;
    
}
.jio{
    text-decoration: none;
    color: black;
}
.jiuh{
    height: 230px;
    border-radius: 5px;
}
.viky{
    height: 230px;
    border-radius: 5px;
}
.voi{
    text-decoration: none;
    color: black;
}
.gyh{
    border-radius: 60%;
}
.amm{
    height: 150px;
}
.vira{
    height: 150px;
    width: 200px;
}
.plo{
    text-decoration: none;
    color: rgb(227, 96, 118);
}
.mon{
    height: 30px;
    width: 30px;
}
